body{
    background-color: rgb(228, 192, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.container{
    background-color: white;
    width: 400px;
    border: solid 1px black;
    border-radius: 25px;
    padding: 10px;
}
.container img {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 25px;

}
h4{
    background-color: rgb(243, 223, 8);
    width: fit-content;
    padding: 4px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}

h1{
    font-weight: 700;
}
p{  color: gray;
    line-height: 1.6;
}
.profil{
    display: flex;
    padding: 10px;
}
.profil img{
  width: 35px;
}